In [10]:
# ----------- imports

import pandas as pd

In [11]:
# ----------- parameters

CSV_DATA_FILE = 'data.csv'

# constants (do not change)
ONE_MILLION = 1000000

In [24]:
# ----------- read data from file

df = pd.read_csv(CSV_DATA_FILE)
df

,Symbol,Name,Enterprise Value,Market Cap,Trailing Annual Dividend Yield,EBIT,Net Income Applicable To Common Shares,Total Current Assets,Total Current Liabilities,Property Plant Equipment,Total Stockholder Equity,Long Term Debt,Net Receivables,Inventory,Depreciation,Total Cash From Operating Activities,Capital Expenditures
0,AAPL,Apple Inc.,2286201602048,2249154625536,0.006160,6.628800e+10,5.741100e+10,1.437130e+11,1.053920e+11,4.533600e+10,6.533900e+10,9.866700e+10,3.744500e+10,4.061000e+09,1.105600e+10,8.067400e+10,-7.309000e+09
1,AMZN,"Amazon.com, Inc.",1743686074368,1736836382720,NaN,2.289900e+10,2.133100e+10,1.327330e+11,1.263850e+11,1.506670e+11,9.340400e+10,3.181600e+10,2.430900e+10,2.379500e+10,2.525100e+10,6.606400e+10,-4.014000e+10
2,CSGP,"CoStar Group, Inc.",32271808512,33537880064,NaN,2.892020e+08,2.271280e+08,3.888512e+09,3.308500e+08,2.350650e+08,5.375359e+09,9.867150e+08,1.039490e+08,NaN,1.169440e+08,4.861060e+08,-4.834700e+07
3,FB,"Facebook, Inc.",915864616960,1008403087360,NaN,3.267100e+10,2.914600e+10,7.567000e+10,1.498100e+10,5.498100e+10,1.282900e+11,NaN,1.133500e+10,NaN,6.862000e+09,3.874700e+10,-1.511500e+10
4,GOOG,Alphabet Inc.,1595291992064,1668741595136,NaN,4.122400e+10,4.026900e+10,1.742960e+11,5.683400e+10,9.696000e+10,2.225440e+11,1.283200e+10,3.138400e+10,7.280000e+08,1.367900e+10,6.512400e+10,-2.228100e+10
5,GOOGL,Alphabet Inc.,1535158255616,1671425425408,NaN,4.122400e+10,4.026900e+10,1.742960e+11,5.683400e+10,9.696000e+10,2.225440e+11,1.283200e+10,3.138400e+10,7.280000e+08,1.367900e+10,6.512400e+10,-2.228100e+10
6,MSFT,Microsoft Corporation,1952264880128,2023883538432,0.008264,5.295900e+10,4.428100e+10,1.819150e+11,7.231000e+10,5.290400e+10,1.183040e+11,5.957800e+10,3.201100e+10,1.895000e+09,1.230000e+10,6.067500e+10,-1.544100e+10
7,TSLA,"Tesla, Inc.",644050845696,663464574976,NaN,1.951000e+09,6.900000e+08,2.671700e+10,1.424800e+10,2.337500e+10,2.222500e+10,8.571000e+09,1.903000e+09,4.101000e+09,2.322000e+09,5.943000e+09,-3.232000e+09
8,DASH,"DoorDash, Inc.",53367066624,57217159168,NaN,-3.990000e+08,-4.610000e+08,5.517000e+09,1.402000e+09,4.130000e+08,4.700000e+09,NaN,3.010000e+08,NaN,8.800000e+07,2.520000e+08,-1.060000e+08

In [28]:
# ----------- Implementation from rbhatia46: Using 'annual' numbers
# https://github.com/rbhatia46/Greenblatt-Magic-Formula-Value-Investing/blob/master/Value-Investing-Greenblatt-Formula.ipynb

# calculate the two factors
df['(1) Return on Capital'] = df['EBIT'] / \
    (df['Property Plant Equipment'] + df['Total Current Assets'] - df['Total Current Liabilities'])
df['(1) Earnings Yield'] = df['EBIT'] / \
    (df['Market Cap'] + df['Long Term Debt'] - (df['Total Current Assets'] - df['Total Current Liabilities']))

# combine ranking
df['(1) Rank: ReturnOnCapital + EarningsYield'] = \
    df['(1) Return on Capital'].rank(ascending=False, na_option='bottom') + \
    df['(1) Earnings Yield'].rank(ascending=False, na_option='bottom')

# find Magic Formula ranking
df['(1) Rank: MagicFormula'] = df['(1) Rank: ReturnOnCapital + EarningsYield'].rank(method='first')

# rank
df_sorted = df.sort_values('(1) Rank: MagicFormula').loc[:, \
    ['Symbol', 'Name', 'Market Cap', '(1) Return on Capital', '(1) Earnings Yield', \
     '(1) Rank: MagicFormula']]

# visualize
pd.set_option('max_rows', 100)
df_sorted

,Symbol,Name,Market Cap,(1) Return on Capital,(1) Earnings Yield,(1) Rank: MagicFormula
0,AAPL,Apple Inc.,2249154625536,0.792378,0.028702,1.0
6,MSFT,Microsoft Corporation,2023883538432,0.325883,0.026830,2.0
4,GOOG,Alphabet Inc.,1668741595136,0.192256,0.026356,3.0
5,GOOGL,Alphabet Inc.,1671425425408,0.192256,0.026311,4.0
1,AMZN,"Amazon.com, Inc.",1736836382720,0.145840,0.012994,5.0
3,FB,"Facebook, Inc.",1008403087360,0.282450,NaN,6.0
2,CSGP,"CoStar Group, Inc.",33537880064,0.076252,0.009339,7.0
7,TSLA,"Tesla, Inc.",663464574976,0.054430,0.002958,8.0
8,DASH,"DoorDash, Inc.",57217159168,-0.088118,NaN,9.0

In [20]:
# ----------- Implementation from rbhatia46: Using 'quarterly' numbers

# # calculate the two factors
# df['Return on Capital (quarterly)'] = df['EBIT (quarterly)'] / \
#     (df['Property Plant Equipment (quarterly)'] + \
#      df['Total Current Assets (quarterly)'] - df['Total Current Liabilities (quarterly)'])
# df['Earnings Yield (quarterly)'] = df['EBIT (quarterly)'] / \
#     (df['Market Cap'] + df['Long Term Debt (quarterly)'] - \
#      (df['Total Current Assets (quarterly)'] - df['Total Current Liabilities (quarterly)']))

# # combine ranking
# df['Rank: ReturnOnCapital + EarningsYield (quarterly)'] = \
#     df['Return on Capital (quarterly)'].rank(ascending=False, na_option='bottom') + \
#     df['Earnings Yield (quarterly)'].rank(ascending=False, na_option='bottom')

# # find Magic Formula ranking
# df['Rank: MagicFormula (quarterly)'] = \
#     df['Rank: ReturnOnCapital + EarningsYield (quarterly)'].rank(method='first')

# # rank
# df_sorted = df.sort_values('Rank: MagicFormula (quarterly)').loc[:, \
#     ['Symbol', 'Name', 'Market Cap', 'Return on Capital (quarterly)', 'Earnings Yield (quarterly)', \
#      'Rank: MagicFormula (quarterly)']]

# # visualize
# pd.set_option('max_rows', 100)
# df_sorted

In [30]:
# -----------

# calculate the two factors
ebit = df['EBIT']
net_working_capital = df['Net Receivables'] + df['Inventory']
net_fixed_assets = df['Property Plant Equipment']
df['(2) Return on Capital'] = ebit / (net_working_capital + net_fixed_assets)

enterpise_value = df['Enterprise Value']
df['(2) Earnings Yield'] = ebit / enterpise_value

# combine ranking
df['(2) Rank: ReturnOnCapital + EarningsYield'] = \
    df['(2) Return on Capital'].rank(ascending=False, na_option='bottom') + \
    df['(2) Earnings Yield'].rank(ascending=False, na_option='bottom')

# find Magic Formula ranking
df['(2) Rank: MagicFormula'] = df['(2) Rank: ReturnOnCapital + EarningsYield'].rank(method='first')

# rank
df_sorted = df.sort_values('(2) Rank: MagicFormula').loc[:, \
    ['Symbol', 'Name', 'Market Cap', \
     '(1) Return on Capital', '(1) Earnings Yield', '(1) Rank: MagicFormula', \
     '(2) Return on Capital', '(2) Earnings Yield', '(2) Rank: MagicFormula']]

# visualize
pd.set_option('max_rows', 100)
df_sorted

,Symbol,Name,Market Cap,(1) Return on Capital,(1) Earnings Yield,(1) Rank: MagicFormula,(2) Return on Capital,(2) Earnings Yield,(2) Rank: MagicFormula
0,AAPL,Apple Inc.,2249154625536,0.792378,0.028702,1.0,0.763317,0.028995,1.0
6,MSFT,Microsoft Corporation,2023883538432,0.325883,0.026830,2.0,0.610056,0.027127,2.0
5,GOOGL,Alphabet Inc.,1671425425408,0.192256,0.026311,4.0,0.319388,0.026853,3.0
4,GOOG,Alphabet Inc.,1668741595136,0.192256,0.026356,3.0,0.319388,0.025841,4.0
3,FB,"Facebook, Inc.",1008403087360,0.282450,NaN,6.0,NaN,0.035672,5.0
1,AMZN,"Amazon.com, Inc.",1736836382720,0.145840,0.012994,5.0,0.115203,0.013133,6.0
7,TSLA,"Tesla, Inc.",663464574976,0.054430,0.002958,8.0,0.066408,0.003029,7.0
2,CSGP,"CoStar Group, Inc.",33537880064,0.076252,0.009339,7.0,NaN,0.008961,8.0
8,DASH,"DoorDash, Inc.",57217159168,-0.088118,NaN,9.0,NaN,-0.007477,9.0